@import url("null.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #424551;
    line-height: 1.6;
}

.wrapper {
    max-width: 810px;
    margin: 0 auto;
}

.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1e212c;
    margin-bottom: 92px;
}
.img {
    width: 810px;
    height: 360px;
    margin-bottom: 60px;
}
.lead {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1e212c;
    margin-bottom: 24px;
}
.main {
    margin-bottom: 48px;
}

p {
    margin-bottom: 24px;
}
.quote {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: #1e212c;
    margin-bottom: 48px;
    padding-left: 63px;
}

.list {
    margin-bottom: 24px;
    padding-left: 33px;
}

.list-item {
    line-height: 1.6;
    margin-bottom: 4px;
}
